body{
    background-color: grey;
    color: lightcyan;
}

button{
    background-color: crimson;
    color: limegreen;
    border-radius: 25%;
}

.form-control{
    background-color: rgba(165, 42, 42, 0.252);
    border-radius: 10%;
}